p Support Obyte tutorials by making a donation.

script.
  function process() {
    var url="https://api.qrserver.com/v1/create-qr-code/?" +
            "size=150x150" +
            "&data=" +
            "byteball:WBDVHHKXVLA26NQ4ETV6664UOZPHMUR6?asset=base";
    document.getElementById('QRCode').src = url;
  }

body(onload="process()")
div.text-center
  a(href="byteball:WBDVHHKXVLA26NQ4ETV6664UOZPHMUR6?asset=base")
    img(src='', id='QRCode')
//div.text-center
//  img(src='', id='QRCode')

br
br
p Scan this code with your Obyte Wallet or
  span=' '
  a(href="byteball:WBDVHHKXVLA26NQ4ETV6664UOZPHMUR6?asset=base")="click here"
  span  to open your wallet. Thank you!
