footer.navbar.bg-info.text-light.fixed-bottom
  div
    p ©
      span(id="copyright")
        script.
          document.getElementById('copyright').appendChild(document.createTextNode(new Date().getFullYear()))
      span  WhistlingFrogs.com by CryptoGirl
