footer.navbar.bg-info.text-light.fixed-bottom
  div
    p ©
      span(id="copyright")
        script.
          document.getElementById('copyright').appendChild(document.createTextNode(new Date().getFullYear()))
      span=' WhistlingFrogs.com '
      i.fas.fa-frog
      span='  Created by '
      a( style='color:white' target="discord" href="https://discord.gg/kAKPyVQ") CryptoGirl
      span='.  Powered by '
      a( style='color:white' target="discord" href="https://obyte.org") Obyte
      span=' and '
      a( style='color:white' target="discord" href="https://obytejs.com") Obyte.js
