header.navbar.bg-info.text-light
  div.row
    img(src='ObyteTutorials.png' height=40 style='padding-left:10px; padding-right:10px')
    h2 Obyte Web Integration Tutorial and Sample App
  div
    // donate
    a.btn.btn-devault( style='color:white' data-toggle="modal" data-target="#myModal")
        i.fa.fa-gift.fa-lg  Donate

    // linkin
    // google (google +)
    // skype
    // reddit
    // slack
    // https://keybase.io/

    // twitter
    a.fa.fa-twitter(href="https://twitter.com/share?ref_src=twsrc%5Etfw"
                    onclick="window.open('https://twitter.com/share?ref_src=twsrc%5Etfw', 'newwindow', 'width=600','height=300'); return false;" )
    // discord
    a(target="discord" href="https://discord.gg/kAKPyVQ")
      img(src='discord.svg' height=40 alt="Comments" )
