header.navbar.bg-info.text-light
  h2 Obyte Web Integration Tutorial and Sample App
  div
    // donate
    a.btn.btn-devault( style='color:white' data-toggle="modal" data-target="#myModal")
        i.fa.fa-gift.fa-lg  Donate
    // twitter
    //<a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="fa fa-twitter"></a>
    // linkin
    // discord
    // google (google +)
    // skype
    // reddit
    // slack
    // https://keybase.io/
