header.navbar.bg-info.text-light
  h2 Obyte Web Integration Tutorial and Sample App
  a.btn.btn-devault( href="donate" target="donate" style='color:white')
      i.fa.fa-gift.fa-lg  Donate
  //p Share
