extends layout

block content

  //script.
  //  if ( window.history.replaceState ) {
  //      window.history.replaceState( null, null, window.location.href );
  //  }

  br
  p
    strong.
      A step by step guide to building basic Node app
      with obyte integration for absolute beginners.
  p.
    By the end of this tutorial you would have build a browser
    app that allows user to post payments, data and data-feeds to
    the obyte network.

  p.
    This tutorial assumes no prior knowledge of any of the above,
    however you need to have Node and npm installed on your machine.

  p.
    Go to Post to DAG and Seach DAG tabs to see sample pages.
