doctype html
html
  head
    title= `${title}`
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css')

  body
    header.navbar.bg-info.text-light
      h2 Obyte Web Integration Tutorial and Sample App

    header.bg-light
      include menu.pug

    div.container-fluid
      block content
//-
