doctype html
html
  head
    title= `${title}`
    include vendorScripts.pug

  body
    div.fixed-top
        include header.pug
        include menu.pug

    div.container-fluid
      include header.pug
      include menu.pug
      include modal.pug

      block content

    include footer.pug
