block menu
  ul.nav.nav-tabs
    li.nav-item
      a.nav-link.text-dark(href=".")="Home"
    li.nav-item
        a.nav-link.text-dark(href="tutorial")= "Tutorial"
    li.nav-item
      a.nav-link.text-dark(href="postDAG")= "Post to DAG"
    li.nav-item
      a.nav-link.text-dark(href="searchDAG")= "Search DAG"
