extends layout

block content

  div.w-100.mh-auto.overflow-auto
    h1 obyte Web Integration Tutorial

    include tutorial/00_intro.pug
    include tutorial/01_basic-setup.pug
    include tutorial/02_getting_started.pug
    include tutorial/03_creating_basic_app.pug
    include tutorial/04_browser.pug
    include tutorial/05_pug.pug
    include tutorial/06_forms.pug
    include tutorial/07_dinamicHTML.pug
    include tutorial/07a_paymentDiv.pug
    include tutorial/07b_dataDiv.pug
    include tutorial/07c_dataRows.pug
    include tutorial/07d_dataName.pug
    include tutorial/08_sumbit.pug
    include tutorial/09_10_obyte_wallet.pug
    include tutorial/11_obyte_integration.pug
    include tutorial/12_obyte_post.pug
    include tutorial/13_obyte_post_result.pug
    include tutorial/14_git.pug
    include tutorial/15_heroku.pug
