p
  strong.
    A step by step guide to building a basic Node application
    with Obyte integration for absolute beginners.
p.
  By the end of this tutorial, you will build a browser
  application that allows user to post payments, data and data-feeds to
  the obyte network.

P.
  We will be writing Node js app using Express framework with
  Pug Templating and Bootstrap.  For obyte integration, we will be
  using obyte js libraries.

P.
  This tutorial assumes no prior knowledge of any of the above,
  however, you need to have Node and npm installed on your machine.
