p
  strong.
    A step by step guide to building basic Node app
    with Obyte integration for absolute beginers.
p.
  By the end of this tutorial you would have build a browser
  app that allows user to post payments, data and data-feeds to
  the obyte network.

P.
  We will be writing Node js app using Express framework with
  Pug Templating and Bootstrap.  For Obyte integration, we will be
  using Obyte js libraries.

P.
  This tutorial assumes no prior knowledge of any of the above,
  however you need to have Node and npm installed on your machine.
