h3 1. Basic Setup
p.
  Before we can start coding, we’ll need to get Node
  and npm installed on your machine.
p
  h5 Check that Everything Is Installed Correctly
p.
  To check that Node and npm are installed correctly,
  open your terminal and type:
p.card.bg-light
  code.card-body.text-info node -v
p followed by:
p.card.bg-light
  code.card-body.text-info npm -v
p.
 That will output the version number of each program.
 At the time of writing, my Node js version is v10.10.0
 my npm version is 6.4.1.
