h3 9. Obyte GUI wallet
p.
  Posting data or transactions to the Obyte network
  require payment in Bytes.  In a real-life application,
  this can be done by the users of your application from their wallets.
p.
  However, in this tutorial, you will have to fund
  the transactions yourself from your own Obyte wallet.

h5 Setting up Obyte testnet GUI wallet
p Instructions on creating
  code.text-info  Obyte testnet GUI wallet
  span  can be found at
  code.text-info  #[a( href='https://obyte.org/testnet.html' target="_blank" ) https://obyte.org/testnet.html].
  span  Download the version for your operating system and
  span  install it selecting the option for generating the desktop icon.
p For the purposes of this tutorial, we will refer to this wallet as your
  code.text-info  GUI wallet
  span .

h5 Funding Obyte testnet GUI wallet
p Fund your
  code.text-info  Obyte testnet GUI wallet
  span  by clicking on the link on the
  code.text-info  #[a( href='https://obyte.org/testnet.html' target="_blank" ) https://obyte.org/testnet.html] page.
  span  You will need to wait 10-15 minutes for the transaction to be confirmed.
